deploy_env.sh

# ignore the files we build for Docker
*.tar
*.tar.bz2

# ignore Rake temp files
.rake_tasks~

# ignore JS dependencies
node_modules/

# ignore 3rd party files that get copied during build
public/3rdparty-assets/
public/scripts/3rdparty/

# too big to include
data/builtins/master-games.pgn
data/builtins/master-games.json
sandbox/
data/builtins/nykterstein-games.pgn
data/builtins/nykterstein-games.json
data/builtins/master-games.pgn
data/builtins/staunton-games.json
data/builtins/master-games.json
data/builtins/staunton-games.pgn
data/builtins/anderssen-games.pgn
data/builtins/anderssen-games.json
data/builtins/mcdonnel-games.pgn
data/builtins/mcdonnel-games.json

# throwaway scripts
bin/first_mistake_finder.rb
bin/fix_crit.rb

# other stuff
examples/
.vscode/
