!!!
%html
  %head
    %title Choose a Built-in Game
  %body
    .container
      %h1 Choose a Built-in Game
      %ul.game-list
        - builtin_pgns.each_with_index do |(file, description), index|
          %li
            %a{href: "/builtin/#{index}"} #{description}
      %a.back-link{href: "/"} Back to Main Menu
