!!! 5
%html{lang:"en"}
  %head
    %meta{charset:"UTF-8"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %title Chess Guesser

    %link{rel:"stylesheet", href:"/styles/game_selection.css"}

  %body
    - unless builtin_pgns.empty?
      #builtin_selection_container
        %h3 Choose From Built-in Games
        %ul.game-list
          - builtin_pgns.each do |(index, file, description, game_count)|
            %li
              %a.btn{href: "/builtin/#{index}"} #{description} (#{game_count} games)

    %form#pgn_upload_form.upload-form{action: "/upload_pgn", method: "post", enctype: "multipart/form-data"}
      %h3 Upload Your Own Games
      .form-group
        %label
          %input#upload_method_file{type: "radio", name: "upload_method", value: "file", checked: true}
          Upload PGN file
      .form-group
        %label
          %input#upload_method_paste{type: "radio", name: "upload_method", value: "paste"}
          Paste PGN text

      #file_upload_container.form-group
        %input#pgn_file_input{type: "file", name: "pgn_file", accept: ".pgn"}

      #pgn_paste_container.form-group{style: "display: none;"}
        %textarea#pgn_text_input{name: "pgn_text", rows: "10", cols: "50", placeholder: "Paste your PGN here"}

      %button#upload_pgn_btn.btn{type: "submit"} Upload PGN

    %script{src:"../scripts/pgn_uploader.js"}
    :javascript
      document.addEventListener('DOMContentLoaded', () => { const uploader = new PgnUploader(); });
