!!! 5
%html{lang:"en"}
  %head
    %meta{charset:"UTF-8"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %title Chess Guesser
    %link{rel:"stylesheet",
      href:"https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css",
      integrity:"sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU",
      crossorigin:"anonymous"}

    %script{src:"https://code.jquery.com/jquery-3.5.1.min.js",
      integrity:"sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2",
      crossorigin:"anonymous"}
    %script{src:"https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js",
      integrity:"sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD",
      crossorigin:"anonymous"}
    %link{rel:"stylesheet", href:"/style.css"}

  %body
    #board_container
      %h2
        %span#white White
        vs
        %span#black Black
      #board
      #last-move.small-font
      #move_controls
        %button#fastRewindBtn.control-btn{title: "Go to start"}
          %svg.icon{viewBox: "0 0 24 24"}
            %path{d: "M11 18V6l-8.5 6 8.5 6zm.5-6l8.5 6V6l-8.5 6z"}
        %button#backwardBtn.control-btn{title: "Previous move"}
          %svg.icon{viewBox: "0 0 24 24"}
            %path{d: "M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"}
        %button#forwardBtn.control-btn{title: "Next move"}
          %svg.icon{viewBox: "0 0 24 24"}
            %path{d: "M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"}
        %button#fastForwardBtn.control-btn{title: "Go to end"}
          %svg.icon{viewBox: "0 0 24 24"}
            %path{d: "M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z"}
        %button#flipBoardBtn.control-btn{title: "Flip Board"}
          %svg.icon{viewBox: "0 0 24 24"}
            %path{d: "M19 8l-4 4h3c0 3.31-2.69 6-6 6-1.01 0-1.97-.25-2.8-.7l-1.46 1.46C8.97 19.54 10.43 20 12 20c4.42 0 8-3.58 8-8h3l-4-4zM6 12c0-3.31 2.69-6 6-6 1.01 0 1.97.25 2.8.7l1.46-1.46C15.03 4.46 13.57 4 12 4c-4.42 0-8 3.58-8 8H1l4 4 4-4H6z"}
      #guess_result_container
        #guess_result
      #guess_comment_container
        #guess_comment
        #guess_subcomment

      #guess_mode_selection
        %label
          %input{type: "radio", name: "guess_mode", value: "both", checked: true}
          Guess Both
        %label
          %input{type: "radio", name: "guess_mode", value: "white"}
          Guess White
        %label
          %input{type: "radio", name: "guess_mode", value: "black"}
          Guess Black

    #game_selection_container{style: "display: none;"}
      %table#game_selection_table
        %thead
          %tr
            %th White
            %th Black
            %th Date
            %th Result
            %th Action
        %tbody

    %script{src:"../scripts/pgn_uploader.js"}
    %script{src:"../scripts/board.js"}
    %script
      document.addEventListener('DOMContentLoaded', () => { const board = new Board(); const uploader = new PgnUploader(board.onGameLoaded.bind(board)); });

    %form#pgn_upload_form{action: "/upload_pgn", method: "post", enctype: "multipart/form-data"}
      %div
        %input#upload_method_file{type: "radio", name: "upload_method", value: "file", checked: true}
        %label{for: "upload_method_file"} Upload PGN file
      %div
        %input#upload_method_paste{type: "radio", name: "upload_method", value: "paste"}
        %label{for: "upload_method_paste"} Paste PGN text

      #file_upload_container
        %input#pgn_file_input{type: "file", name: "pgn_file", accept: ".pgn"}

      #pgn_paste_container{style: "display: none;"}
        %textarea#pgn_text_input{name: "pgn_text", rows: "10", cols: "50", placeholder: "Paste your PGN here"}

      %button#upload_pgn_btn{type: "submit"} Upload PGN
