#guess_result_container {
  height: 2em;
  line-height: 2em;
  margin-bottom: 1em;
}

#guess_comment_container, #guess_subcomment_container {
  height: 3em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

#guess_result {
  font-weight: bold;
  font-size: 1.5em;
}

#board {
  width: 400px;
  height: 400px;
}

#board_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#move_controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 400px; /* Should match the width of your board */
}

.control-btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.control-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.control-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.control-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
}

.icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.control-btn:disabled .icon {
  fill: #ccc;
}